@import url('https://fonts.cdnfonts.com/css/molot');

.heroContainer {
    background-color: #ff9c5a;
}

.scrollingContainer {
    overflow: hidden;
}

.heroText {
    font-family: 'Molot', sans-serif;
    color: #fbd089;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: clamp(10rem, 20vw, 100rem); /* adjust these values as needed */
    white-space: nowrap;

    line-height: .75 !important;
}

.heroTopText {
    animation: rightToLeft 60s linear infinite;
}

.heroBottomText {
    margin-bottom: 1rem;
    animation: LeftToRight 60s linear infinite;
}

@keyframes rightToLeft {
    0%   { transform: translate(0%, 0); }
    50% { transform: translate(-100%, 0); }
    100% { transform: translate(0%, 0); }
}

@keyframes LeftToRight {
    0%   { transform: translate(-100%, 0); }
    50% { transform: translate(0%, 0); }
    100% { transform: translate(-100%, 0); }
}


.helmetImage {
    object-fit: contain;
    position: absolute;
    left: 50%; transform: translate(-50%,0); position: absolute; z-index: 1;

    transition: transform 0.5s ease-in-out; /* Add this line */
}

.helmetImage:hover {
    transform: translate(-50%,0) scale(1.1); /* Add this line */
}