@import url('https://fonts.cdnfonts.com/css/molot');

.Container {
  margin-top: 2rem;
    position: relative;
  }
  
  .Container::before {
    content: "";
    
    /* background: url('https://merriam-webster.com/assets/mw/images/gallery/gal-wap-slideshow-slide/assorted-american-football-plays-diagrammed-on-chalkboard-using-xs-and-os-1808-b9cb82c74c54c82d510c05fd232ec9f5@1x.jpg'); */
    opacity: 0.1; /* Adjust as needed */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
    /* filter: grayscale(100%); */
  }

  .gameOfWeekTitle {
    text-align: center;
    color: white;
    font-family: 'Molot', sans-serif;
  }
  
  .Card {
    display: flex;

    padding: 1rem;

    width: 100%;
  }

  .matchupTeam {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .matchupHelmet {
    width: 85%;
  }

  .matchupHelmet:hover {
    transform: scale(1.1);
  }

  .matchupHelmetReverse {
    width: 85%;
    transform: scaleX(-1);
  }

  .matchupHelmetReverse:hover {
    transform: scaleX(-1) scale(1.1);
  }

  .centerContent {
    left: 50%; transform: translate(-50%,0); position: absolute; z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .leagueCrest {
    width: 35%;
  }

  .leagueCrest:hover {
    transform: scale(1.25);
  }

  .matchupTitle {
    width: 25%;
  }

  .teamName {
    font-size: 2.5vw; /* Adjust as needed */
    width: fit-content;
    color: white;
    text-shadow: 1px 1px 2px rgba(10, 10, 10, 1);
    padding: 0 !important;
    margin: 0 !important;

    font-family: 'Molot', sans-serif;
  
  }

  .leftTeam {
    padding-right: 5%;
    border-radius: 2rem 0 0 2rem;
    background-size: cover;


    /* background-image: url('https://merriam-webster.com/assets/mw/images/gallery/gal-wap-slideshow-slide/assorted-american-football-plays-diagrammed-on-chalkboard-using-xs-and-os-1808-b9cb82c74c54c82d510c05fd232ec9f5@1x.jpg'); */
    background-color: rgba(255, 156, 90, 1); /* Change to the color you want */
    background-blend-mode: darken;
  }

  .rightTeam {
    padding-left: 5%;
    border-radius: 0 2rem 2rem 0;
    /* background-image: url('https://merriam-webster.com/assets/mw/images/gallery/gal-wap-slideshow-slide/assorted-american-football-plays-diagrammed-on-chalkboard-using-xs-and-os-1808-b9cb82c74c54c82d510c05fd232ec9f5@1x.jpg'); */
    background-size: cover;
    ;
    background-color: rgba(255, 120, 187, 1); /* Change to the color you want */
    background-blend-mode: darken;
  }

  .rightTeam:hover {
    background-blend-mode: screen;
  }

  .leftTeam:hover {
    background-blend-mode: screen;
  }