.credit {
    margin-bottom: 1rem;
    text-align: center;
}

.listContainer  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 75%;
    margin: 0 auto;

    @media (max-width: $mantine-breakpoint-md) {
        width: 100%;
    }
}

.powerRank {
    font-weight: 900;
    color: #ff9c5a;
}

.powerRankText {
    padding: 0.5rem;
}

.teamName {
    font-size: 1.5rem;
}


.accordian {
    width: 100%;
}