.listContainer  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.powerRank {
    font-weight: 900;
    color: #ff9c5a;
}

.powerRankText {
    padding: 0.5rem;
}

.accordian {
    width: 100%;
}