
.timelineGrid {
    margin-top: 2rem;
    padding: 1rem 0;

    @media (max-width: $mantine-breakpoint-md) {
        padding: 0 2rem;
    }
}

.timelineGridColumn {
    margin-bottom: 5rem;
}

.timelineBullet {
    padding-bottom: 3rem;
    scroll-margin-top: 90px;
}