@import url('https://fonts.cdnfonts.com/css/molot');

.title {
    font-family: 'Molot', sans-serif;
}

.title:hover {
    color: rgb(255, 156, 90);
}

.expandable {
    @media (max-width: $mantine-breakpoint-md) {
        margin: 2rem 0;
    }
}

.expandable:hover {
    cursor: pointer;
}

.expand:hover {
    color: rgb(255, 156, 90) !important;
    text-decoration: underline;
}

.mainImage {
    max-height: 70vh;
}

.newsSubHeader {
    font-family: 'Molot', sans-serif;

    @media (max-width: $mantine-breakpoint-md) {
        text-align: center;
    }
}

.jokeArticleLink {
    color: var(--mantine-color-text);
    text-decoration: none;
}

.jokeArticleLink:hover {
    color: rgb(255, 156, 90);
    text-decoration: underline;
}

.jokeArticleIcon {
    vertical-align: text-top;
    margin-left: .25rem;
}
