.title:hover {
    color: rgb(255, 156, 90);
}

.expandable:hover {
    cursor: pointer;
}

.quote {
    margin: 2rem;
}

.quoteReply {
    margin: 2rem 3rem;
}

.mainImage {
    max-height: 70vh;
}

.newsSubHeader {
    font-family: 'Molot', sans-serif;

    @media (max-width: $mantine-breakpoint-md) {
        text-align: center;
    }
}

.jokeArticleLink {
    color: var(--mantine-color-text);
    text-decoration: none;
}

.jokeArticleLink:hover {
    color: rgb(255, 156, 90);
    text-decoration: underline;
}