@import url('https://fonts.cdnfonts.com/css/molot');

.contentContainer {
    margin: 1rem 12vw;

    @media (max-width: $mantine-breakpoint-md) {
        margin: 0 5vw;
    } 
}

.pageHeaderContainer {
    display: flex;
    align-items: center;

    @media (max-width: $mantine-breakpoint-md) {
        flex-direction: column;
    }
}

.pageHeader {
    font-family: 'Molot', sans-serif;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-size: rem(100px);
    font-weight: 900;
    letter-spacing: rem(-2px);
    margin: 2rem 0 2rem 0;
  
    @media (max-width: $mantine-breakpoint-md) {
      font-size: rem(40px);
      margin: 2rem 0 0 0 !important;
    }
}

.sectionHeader {
    font-family: 'Molot', sans-serif;
    text-align: center;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-size: rem(75px);
    font-weight: 900;
    letter-spacing: rem(-2px);
    margin: 4rem 0 .75rem 0;
  
    @media (max-width: $mantine-breakpoint-md) {
      font-size: rem(40px);
      margin-top: 1rem !important
    }
}